<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Video</title>
</head>
<body>
    <h1>Add New Video</h1>
    <p style="color: red;"><%= msg %></p>

    <form action="/addVideo" method="post" enctype="multipart/form-data">
        <label for="crsID">Course: </label>
        <% if (courses.length > 0) { %>
            <select name="crsID" id="crsID">
                <% courses.forEach(course => { %>
                    <option value="<%= course._id %>"><%= course.Name %></option>
                <% }) %>
            </select>
        <% } else { %>
            <select name="crsID" id="crsID">
                <option value="" disabled>No Available Course</option>
            </select>
        <% } %>
        <br>
        <label for="Name">Video Title: </label>
        <input type="text" name="Name" id="Name">
        <br>
        <label for="Video">Video File: </label>
        <input type="file" name="Video" id="Video">
        <br>
        <input type="submit" value="Add Video">
    </form>
</body>
</html>