<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Course</title>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/daterangepicker/daterangepicker.css"
    />
    <!--===============================================================================================-->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/dist/output.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/util.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/tailwind.css" />

    <!--===============================================================================================-->
    <style>
      .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
      }
      .overlay:target {
        visibility: visible;
        opacity: 1;
      }

      .popup {
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 30%;
        position: relative;
        transition: all 5s ease-in-out;
      }

      .popup h2 {
        margin-top: 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
      }
      .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
      }
      .popup .close:hover {
        color: #06d85f;
      }
      .popup .content {
        max-height: 30%;
        overflow: auto;
      }
    </style>
  </head>
  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <p style="color: red"><%= msg %></p>
          <button onclick="history.back()" style="padding: 10px">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              fill="currentColor"
              class="bi bi-arrow-left"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
              />
            </svg>
          </button>
          <form action="/addNote" method="POST" enctype="multipart/form-data" class="login100-form validate-form p-l-55 p-r-55 p-t-178">

            <span class="login100-form-title"> Add New Note </span>


            <a href="#popup1" class="txt3">Add Cover</a>

            <div class="wrap-input100 validate-input m-b-16">
              <% if (courses.length > 0) { %>
              <select
                class="border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none"
                name="crsID"
                id="crsID"
              >
                <% courses.forEach(course => { %>
                <option>Choose a Course</option>
                <option value="<%= course._id %>"><%= course.Name %></option>
                <% }) %>
              </select>
              <% } else { %>
              <select name="crsID" id="crsID">
                <option value="" disabled>No Available Course</option>
              </select>
              <% } %>
            </div>
            <br />
            <div
              class="wrap-input100 validate-input m-b-16"
              data-validate="Please enter Note Title"
            >
              <input
                type="text"
                name="Name"
                id="Name"
                placeholder="Note Title"
              />
              <span class="focus-input100"></span>
            </div>
            <br /><br />

            <div
              class="wrap-input100 validate-input"
              data-validate="Please enter note file"
            >
              <input
                type="file"
                name="Note"
                id="Note"
                accept="application/pdf"
                placeholder="Note File"
              />
              <span class="focus-input100"></span>
            </div>
            <br /><br />
            <div
              class="container-login100-form-btn"
              style="padding-bottom: 40px"
            >
              <button class="login100-form-btn">
                <input type="submit" value="Add Note" />
              </button>
            </div>
          </form>
          
          <div id="popup1" class="overlay">
            <div class="popup">
              <h2>Add Note Cover</h2>
              <a class="close" href="">&times;</a>
              <div class="content">
                <form
                  action="/addNote/Cover"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <label for="Cover">Note Cover </label>
                  <input type="file" name="Cover" id="Note" />
                  <br />
                  <br />
                  <input type="submit" value="Add Cover" />
                </form>
              </div>
            </div>
          </div>
      
        </div>
      </div>
    </div>

  

  
    <!--===============================================================================================-->
    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/bootstrap/js/popper.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/daterangepicker/moment.min.js"></script>
    <script src="/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/js/main.js"></script>
  </body>
</html>
