<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>

    <form action="/createCourse">
        <input type="submit" value="Create Course">
    </form>

    <div class="courses">
        <% if (courses.length > 0) { %>
            <table>
                <tr>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Course Price</th>
                    <th>Actions</th>
                </tr>
                <% courses.forEach(course => { %>
                    <tr>
                        <td><%= course.CourseCode %></td>
                        <td><%= course.Name %></td>
                        <td><%= course.Price %></td>
                        <td>
                                <a href="/editCourse/<%= course._id %>">Edit</a>
                                <a href="#">Delete</a>
                        </td>
                    </tr>
                <% }) %>
            </table>
        <% } else { %>
            <p>There are no Courses</p>
        <% } %>
    </div>
</body>
</html>